<form [formGroup]="loginForm" (ngSubmit)="loginUser()" class="modal-content">
    <button type="button" class="btn-close" (click)="close()" aria-label="Закрити"></button>

    <h3 class="modal-title">Вхід в кабінет</h3>

    <div class="modal-body">
        <input formControlName="email" name="email" type="text" class="form-control" id="email" placeholder="Email:">
        <br>
        <input formControlName="password" name="password" type="password" class="form-control" id="password"
            placeholder="Password:">
    </div>

    <div class="login_button">
        <button type="submit" class="btn">УВІЙТИ В КАЬІНЕТ</button>
        <a (click)="sighUpMaoal()">Зареєструватись</a>
    </div>
</form>