section {
  width: 85vw;
  padding: 20px 40px;
}
section table {
  margin-top: 20px;
}
section table thead tr {
  width: 100%;
  border-bottom: 2px solid #b5d8f7;
}
section table thead tr th {
  width: 20%;
}
section table tbody tr {
  width: 90%;
  border-bottom: 2px solid #b5d8f7;
}
section table tbody tr td {
  width: 20%;
  min-height: 60px;
}
section table tbody tr td img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
}
section table tbody tr .btn_tr {
  width: 15%;
}
section table tbody tr .btn_tr a {
  text-decoration: none;
  color: #b5d8f7;
  font-size: 18px;
  font-weight: 500;
}