<section>

  <h3 class="modal-title">Зміна паролю</h3>

  <form  class="modal-body" >
    <div class="user_name">
      <input formControlName="oldPassword" type="password" class="form-control" placeholder="Старий пароль">
      <input formControlName="newPassword" type="password" class="form-control" placeholder="Новий пароль">
      <input formControlName="confirmPassword" type="password" class="form-control" placeholder="Підтвердити новий пароль">
    </div>
    
   <div class="user_button">
        <button type="submit" class="btn">Скасуватиу</button>
        <button type="submit" class="btn">Змінити пароль</button>
    </div>

  </form>
</section>
